.header {
  height: 500px;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 75px;
  padding: 0;
  z-index: 100;
  background-color: #ffafcc;
}

.nav {
  font-weight: bold;
  z-index: 100;
}

.nav-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
  padding: 0.5em;
  cursor: pointer;
}
.nav-btn i {
  font-size: 40px;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5%;
  top: 50%;
  height: 100%;
  transform: translate(0%, -50%);
  font-size: 2.6rem;
  font-weight: bold;
}
.nav-logo__picture {
  width: 30px;
  height: 30px;
}
.nav-logo__text {
  margin-left: 0.5em;
  text-align: center;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 70%;
  transition: left 0.3s;
  background-color: #ffafcc;
  font-size: 1.2rem;
  z-index: 99999;
  overflow: auto;
}
.nav-menu--active {
  left: 0;
}
.nav-menu a {
  text-decoration: none;
  color: black;
}
.nav-menu li {
  list-style: none;
}
.nav-menu__text {
  display: inline-block;
  position: absolute;
  top: 75px;
  width: 100%;
  padding-bottom: 0.5em;
  border-bottom: 2px solid black;
  text-align: center;
  transform: translateY(-100%);
  font-size: 2.4rem;
}
.nav-menu__btn {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 9999;
  background-color: transparent;
  border: none;
}
.nav-menu__btn i {
  font-size: 3rem;
}
.nav-menu__categories, .nav-menu__account {
  padding: 2em 1em;
  font-size: 2rem;
}
.nav-menu__categories li, .nav-menu__account li {
  margin: 1.5em 0;
}
.nav-menu__categories {
  padding-top: 75px;
}
.nav-menu__category .dropdown {
  padding: 0.5em;
  display: none;
  background-color: #f799bb;
}
.nav-menu__category .dropdown--active {
  display: block;
}
.nav-menu__category .arrow {
  position: absolute;
  right: 5%;
}

.nav-search {
  position: absolute;
  left: 50%;
  top: 75px;
  width: 100%;
  transform: translateX(-50%);
  opacity: 1;
}
.nav-search__input {
  position: absolute;
  left: 50%;
  height: 40px;
  width: 90%;
  transform: translateX(-50%);
  padding: 1em;
  margin-top: 1em;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
}
.nav-search__input:focus {
  box-shadow: 0 0 6px 1px rgba(136, 136, 136, 0.4745098039);
}
.nav-search__btn {
  position: absolute;
  top: 1em;
  left: 85%;
  height: 40px;
  width: 10%;
  border: 1px solid black;
  border-left: none;
  border-radius: 0 10px 10px 0;
  background-color: white;
  cursor: pointer;
}

.heading {
  position: absolute;
  top: 150px;
}
.heading__text {
  font-size: 4rem;
  text-align: center;
}
.heading__text span {
  color: #cdb4db;
}

.slider-container {
  position: absolute;
  top: 300px;
  left: 50%;
  width: 90%;
  max-height: 150px;
  transform: translateX(-50%);
  margin-top: 0.5em;
  border-radius: 10px;
  box-shadow: 0 0 6px 1px gray;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
  max-height: 100%;
  text-align: center;
}
.slider__picture {
  width: 100%;
}
.slider__prev-btn, .slider__next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10em 0;
}
.slider__prev-btn i, .slider__next-btn i {
  color: #fff;
  opacity: 0.5;
}
.slider__prev-btn {
  left: 10px;
}
.slider__next-btn {
  right: 10px;
}

@media (max-width: 320px) {
  .nav-btn i {
    font-size: 30px;
  }
  .heading__text {
    font-size: 3.4rem;
  }
}
@media (min-width: 768px) {
  .header {
    height: 700px;
  }
  .heading {
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
  }
  .heading__text {
    font-size: 4.4rem;
  }
  .heading__text span {
    font-size: 7rem;
  }
  .slider-container {
    top: 380px;
    max-height: 250px;
  }
  .slider__picture {
    min-width: 100%;
  }
}
@media (min-width: 996px) {
  .nav {
    position: relative;
  }
  .nav-btn {
    display: none;
  }
  .nav-logo {
    left: 0%;
    margin-left: 1em;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 50%;
    left: unset;
    right: 0;
    height: 75px;
    transform: translate(0%, -50%);
    overflow: unset;
  }
  .nav-menu__text {
    display: none;
  }
  .nav-menu__btn {
    display: none;
  }
  .nav-menu__categories, .nav-menu__account {
    display: flex;
  }
  .nav-menu__categories {
    width: 70%;
    justify-content: space-around;
    padding-top: 2em;
  }
  .nav-menu__categories li {
    margin: 0;
  }
  .nav-menu__category {
    position: relative;
    line-height: 75px;
    width: 25%;
    transition: background-color 0.15s;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
  }
  .nav-menu__category .dropdown {
    position: absolute;
    top: 75px;
    min-width: 100%;
    padding: 0;
    background-color: #fff;
    bottom: none;
  }
  .nav-menu__category .dropdown li {
    border-bottom: 0.2px solid black;
    margin: auto 0;
    padding: 0 0.5em;
    text-align: left;
    transition: background-color 0.3s;
  }
  .nav-menu__category .dropdown li:hover {
    background-color: #c2c0c0;
  }
  .nav-menu__category:hover .dropdown {
    display: block;
    animation: dropdown-animation 0.15s;
  }
  .nav-menu__category:hover {
    background-color: #f895b9;
  }
  .nav-menu__category .arrow {
    display: none;
  }
  .nav-menu__account {
    font-size: 1.6rem;
    padding: 0;
    height: 100%;
    line-height: 75px;
  }
  .nav-menu__account li {
    height: 100%;
    padding: 0 1em;
    margin: 0;
    transition: background-color 0.15s;
    cursor: pointer;
  }
  .nav-menu__account li:hover {
    background-color: #f895b9;
  }
}
@keyframes dropdown-animation {
  from {
    opacity: 0;
    transform: scale(0.2);
  }
  40% {
    opacity: 0.2;
    transform: scale(0.4);
  }
  60% {
    opacity: 0.6;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.news {
  position: absolute;
  top: 500px;
  width: 100%;
  height: 400px;
  background-color: #ffc8dd;
}
.news__heading {
  margin-top: 1em;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}

.news-slider-container {
  position: absolute;
  top: calc(70px + 1em);
  left: 50%;
  width: 90%;
  max-height: 250px;
  transform: translateX(-50%);
  margin-top: 0.5em;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}
.news-slider-container .slider {
  display: flex;
  position: absolute;
  height: 100%;
}
.news-slider-container .slider__slide {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  height: 100%;
}
.news-slider-container .slider__picture {
  width: 75%;
  height: 55%;
  margin-top: 20px;
}
.news-slider-container .slider .product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.news-slider-container .slider .product-info__price {
  font-weight: bold;
  font-size: 1.6rem;
}
.news-slider-container .slider .product-info__name {
  font-weight: bold;
  font-size: 1.8rem;
}

@media (max-width: 320px) {
  .news-slider-container .slider .product-info__name {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .news {
    top: 700px;
    height: 400px;
  }
  .news-slider-container {
    max-height: 250px;
  }
  .news-slider-container .slider__slide {
    min-width: 70%;
  }
  .news-slider-container .slider .product-info {
    width: 30%;
  }
  .news-slider-container .slider .product-info__name {
    font-size: 1.8rem;
  }
  .news-slider-container .slider .product-info__price {
    font-size: 2rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: black;
  font-family: "Comfortaa", cursive;
}

.remove-scrolling {
  height: 100%;
  overflow: hidden;
}

.blur {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(150, 19, 19, 0.215);
}

.wrapper {
  height: 100%;
  width: 95%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */