.header {
	height: 600px;
}
.navbar {
	position: sticky;
	top: 0;
	width: 100%;
	height: 75px;
	padding: 0;
	z-index: 100;
	background-color: $Pink;
}
.nav {
	font-weight: bold;
	z-index: 100;
}
.nav-btn {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(-50%, -50%);
	border: none;
	background-color: transparent;
	padding: 0.5em;
	cursor: pointer;
	i {
		font-size: 40px;
	}
}
.nav-logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
	left: 5%;
	top: 50%;
	height: 100%;
	transform: translate(0%, -50%);
	font-size: 2.6rem;
	font-weight: bold;
	&__picture {
		width: 230px;
		height: 70%;
	}
	&__text {
		margin-left: 0.5em;
		text-align: center;
	}
}
.nav-menu {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: -100%;
	height: 100vh;
	width: 70%;
	transition: left 0.3s;
	background-color: $Pink;
	z-index: 99999;
	overflow: auto;
	font-size: 2rem;
	&--active {
		left: 0;
	}
	a {
		text-decoration: none;
		color: black;
	}
	li {
		list-style: none;
	}
	&__text {
		display: inline-block;
		position: absolute;
		top: 75px;
		width: 100%;
		padding-bottom: 0.5em;
		border-bottom: 2px solid black;
		text-align: center;
		transform: translateY(-100%);
	}
	&__btn {
		position: absolute;
		top: 5%;
		right: 5%;
		z-index: 9999;
		background-color: transparent;
		border: none;
		i {
			font-size: 3rem;
		}
	}
	&__categories {
		padding: 2em 1em;
		font-size: 2rem;
		li {
			margin: 1.5em 0;
		}
	}
	&__categories {
		padding-top: 75px;
	}
	&__category {
		.dropdown {
			padding: 0.5em;
			display: none;
			background-color: #f799bb;
			&--active {
				display: block;
			}
		}
		.arrow {
			position: absolute;
			right: 5%;
		}
	}
}

.actions {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	top: 75px;
	width: 100%;
	height: 50px;
	border-radius: 0 0 30% 30%;
	background-color: #f895b9;
	transition: border-radius 0.1s;
	&__account,
	&__search,
	&__basket {
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 1;
		width: 33%;
		height: 50px;
		font-size: 30px;
		&--hide {
			display: none;
		}
	}
	&__search,
	&__account {
		border-right: 1px solid black;
	}
	&__search {
		&--active {
			justify-content: unset;
			border: none;
			width: 100%;
			i {
				position: absolute;
				animation: search-button-animation 0.4s linear forwards;
				z-index: 999;
				width: 40px;
				text-align: right;
				background-color: #f799bb;
			}
		}
	}
	&__search-input {
		display: none;
		position: absolute;
		left: 5%;
		width: 0;
		padding: 1em;
		font-size: 1.6rem;
		&--active {
			animation: search-input-animation 0.4s linear forwards;
			display: block;
			width: 90%;
			height: 40px;
			z-index: 100;
			background-color: #f799bb;
			border: none;
			border-bottom: 1px solid black;
			&:focus {
				outline: none;
				border-radius: 5px;
				box-shadow: 0 0 0 2px rgba(134, 20, 119, 0.5);
			}
		}
	}
}

.heading {
	position: absolute;
	top: 420px;
	// background-color: aqua;
	&__text {
		font-size: 4rem;
		text-align: center;
		span {
			color: $Purple;
		}
	}
}

.slider-container {
	position: absolute;
	top: 140px;
	left: 50%;
	min-width: 100%;
	max-height: 250px;
	transform: translateX(-50%);
	margin-top: 0.5em;
	overflow: hidden;
}
.slider {
	display: flex;
	transition: transform 0.3s ease-in-out;
	min-height: 100%;
	text-align: center;
	&__picture {
		min-width: 100%;
	}
	&__prev-btn,
	&__next-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: transparent;
		border: none;
		font-size: 2rem;
		cursor: pointer;
		padding: 10em 0;
		i {
			color: #fff;
			opacity: 0.5;
		}
	}
	&__prev-btn {
		left: 10px;
	}
	&__next-btn {
		right: 10px;
	}
}

@media (max-width: 320px) {
	.nav-btn {
		i {
			font-size: 30px;
		}
	}
	.heading {
		&__text {
			font-size: 3.4rem;
		}
	}
}
@media (min-width: 576px) {
	.header {
		height: 700px;
	}
	.slider-container {
		top: 380px;
		max-height: 300px;
	}
	.heading {
		top: 170px;
		left: 50%;
		transform: translateX(-50%);
		&__text {
			span {
				font-size: 6rem;
			}
			font-size: 4rem;
		}
	}
}

@media (min-width: 768px) {
	.navbar {
		height: 90px;
	}
	.actions {
		top: 90px;
	}
	.heading {
		&__text {
			span {
				font-size: 8rem;
			}
			font-size: 4.4rem;
		}
	}
	.nav-logo {
		line-height: 90px;
		&__picture {
			width: 350px;
			height: 70%;
		}
	}
	.nav-menu {
		font-size: 4rem;
		&__text {
			top: 90px;
		}
		&__categories {
			font-size: 3.2rem;
		}
	}
}

@media (min-width: 996px) {
	.nav {
		position: relative;
	}
	.nav-btn {
		display: none;
	}
	.nav-logo {
		left: 0%;
		margin-left: 1em;
	}
	.nav-menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		top: 50%;
		left: unset;
		right: 0;
		height: 75px;
		transition: unset;
		transform: translate(0%, -50%);
		overflow: unset;
		&__text {
			display: none;
		}
		&__btn {
			display: none;
		}
		&__categories {
			display: flex;
		}
		&__categories {
			width: 70%;
			justify-content: space-around;
			padding-top: 2em;
			li {
				margin: 0;
			}
		}
		&__category {
			position: relative;
			line-height: 75px;
			width: 25%;
			transition: background-color 0.15s;
			font-size: 1.6rem;
			text-align: center;
			cursor: pointer;
			.dropdown {
				position: absolute;
				top: 75px;
				min-width: 100%;
				padding: 0;
				background-color: #fff;
				bottom: none;
				li {
					border-bottom: 0.2px solid black;
					margin: auto 0;
					padding: 0 0.5em;
					text-align: left;
					transition: background-color 0.3s;
					&:hover {
						background-color: #c2c0c0;
					}
				}
			}
			&:hover .dropdown {
				display: block;
				animation: dropdown-animation 0.15s;
			}
			&:hover {
				background-color: #f895b9;
			}
			.arrow {
				display: none;
			}
		}
	}
}

//////////////////////////////////////////////
@keyframes dropdown-animation {
	from {
		opacity: 0;
		transform: scale(0.2);
	}
	40% {
		opacity: 0.2;
		transform: scale(0.4);
	}
	60% {
		opacity: 0.6;
		transform: scale(0.6);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes search-input-animation {
	from {
		opacity: 0.1;
		width: 0;
	}
	25% {
		opacity: 0.4;
		width: 35%;
	}
	50% {
		opacity: 0.7;
		width: 65%;
	}
	to {
		opacity: 1;
		width: 90%;
	}
}
@keyframes search-button-animation {
	from {
		opacity: 0.1;
		left: 5%;
	}
	25% {
		opacity: 0.4;
		left: 35%;
	}
	50% {
		opacity: 0.7;
		left: 65%;
	}
	to {
		opacity: 1;
		left: calc(95% - 45px);
	}
}
@keyframes search-button-animation-rev {
	from {
		opacity: 1;
		left: calc(95% - 45px);
	}
	25% {
		left: 65%;
	}
	50% {
		left: 35%;
	}
	to {
		opacity: 1;
		left: 5%;
	}
}
@keyframes actions-bar-animation {
	from {
		border-radius: 0 0 30% 30%;
	}
	50% {
		border-radius: 0 0 15% 15%;
	}
	to {
		border-radius: 0;
	}
}

///////////////////////////////
///
// .actions {
// 	position: absolute;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	left: 0;
// 	top: 75px;
// 	width: 100%;
// 	height: 50px;
// 	border-radius: 0 0 30% 30%;
// 	background-color: #f895b9;
// 	transition: border-radius 0.1s;
// 	&__account,
// 	&__search,
// 	&__basket {
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		width: 33%;
// 		height: 50px;
// 		font-size: 30px;
// 		&--hide {
// 			display: none;
// 		}
// 	}
// 	&__search,
// 	&__account {
// 		border-right: 1px solid black;
// 	}
// 	&__search {
// 		&--active {
// 			justify-content: unset;
// 			border: none;
// 			width: 100%;
// 			i {
// 				position: absolute;
// 				animation: search-button-animation 0.4s linear forwards;
// 				z-index: 999;
// 				width: 40px;
// 				text-align: right;
// 				background-color: #f799bb;
// 			}
// 		}
// 	}
// 	&__search-input {
// 		display: none;
// 		position: absolute;
// 		left: 5%;
// 		width: 0;
// 		padding: 1em;
// 		font-size: 1.6rem;
// 		&--active {
// 			animation: search-input-animation 0.4s linear forwards;
// 			display: block;
// 			width: 90%;
// 			height: 40px;
// 			z-index: 100;
// 			background-color: #f799bb;
// 			border: none;
// 			border-bottom: 1px solid black;
// 			&:focus {
// 				outline: none;
// 				border-radius: 5px;
// 				box-shadow: 0 0 0 2px rgba(134, 20, 119, 0.5);
// 			}
// 		}
// 	}
// }
